*{font-family: arial; color:#fff;}
a{color: #fff;text-decoration: underline;}
a:hover {color: #999;}
p{font-size:14px}
b{color:#999}
body{background-color: #333;}
.container{max-width: 1024px; width:100%;margin: 10px auto;padding: 10px 20px;background-color: #000;}
.article{color:#ccc}
.meride-video-container{margin:20px auto}
hr{border-top: 2px solid #fff;}
.table td {display: flex;border-top: transparent;}
.table thead th {display: none;}
#videos{padding: 40px;}